/* css reset  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: rokkitt;
}

/* css roots  */
:root{
    --1stcolor : rgba(255, 68, 0, 0.725);
    --2ndcolor : #342EAD;
    --secheigth1 : 100vh;
    --secwidth : 100vw;
    --gradient : linear-gradient(to right,var(--1stcolor),var(--2ndcolor));
}

/* header styling  */
header{
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 253, 253, 0.825);
    backdrop-filter: blur(5px);
    /* border: 2px solid red; */
}

/* logo division of header  */
#logo{
    height: 7vh;
    width: 14vw;
    margin-left: 10vw;
    margin-top: 1vh;
    padding-left: 3vw;
    /* border: 2px solid black; */

}

#logo img{
    height: 100%;
    width: 100%;
}

/* navigetion bar design of header  */
#navigation{
    height: inherit;
    width: 40vw;
    margin-left: 25vw;
    /* border: 2px solid black; */
    font-weight: bold;
    z-index: 2;
}

#navigation nav{
    margin-top: 2.8vh;
}

#navigation nav a{
    text-decoration: none;
    font-size: 2.8vh;
    margin-left: 2vw;
    color: black;
    padding: 0.5vw;
}

#navigation nav a:hover{
    cursor: pointer;
    color: var(--2ndcolor);
    transition: all 1s ease-out;
    background-color: var(--1stcolor);
    border-radius: 18px;
}

/* login botton design of header  */
#hbutton{
    height: inherit;
    width: 10vw;
    margin-left: 7vw;
    margin-right: 5vw;
}

#hbutton input{
    cursor: pointer;
    height: 5.5vh;
    width: 8vw;
    margin: 2vh 3vh;
    border: none;
    border-radius: 13px;
    font-size: 2.2vh;
    background-color: var(--2ndcolor);
    color: white;
    font-weight: bold;
}
/* header styling end  */

/* footer styling starts here  */
footer{
    width: 100vw;
    height: 50vh;
    background-color: #091337;
}

/* footer logo styling  */
#flogo{
    width: 12vw;
    height: 10vh;
    overflow: hidden;
    padding-top: 4vh;
    margin-left: 3vw;
}

#flogo img{
    width: 100%;
    height: 100%;
}

/* styling of all remaining content of footer  */
#fcontainer{
    margin-top: 5vh;
    display: flex;
    /* color: whitesmoke; */
}

#fcontainer div{
    margin-left: 5vw ;
    color: #a1a5b1;
}
#fcontainer div h2{
    color: whitesmoke;
}

/* nevigation section  */
#fcd1{
    display: flex;
    flex-direction: column;
}

#fcd1 a{
    text-decoration: none;
    color: #a1a5b1;
    font-size: 2.7vh;
    padding-top: 1vh;
}

#fcd1 a:hover{
    color: var(--1stcolor);
}

/* get in touch section  */
#fcd2 h3{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2.7vh;
}

/* footer css ends */

/* utility classes  */
.hprimary{
    font-size: 2.7rem;
    text-shadow: 7px 7px 5px grey;
    font-weight: bolder;

}

.hsecondary{
    font-size: 2.7rem;
    font-weight: bolder;
}

.hternary{
    font-size: 2rem;
    color: var(--1stcolor);
}