/* css reset  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: rokkitt;
}

/* css roots  */
:root{
    --1stcolor : rgba(255, 68, 0, 0.725);
    --2ndcolor : #342EAD;
    --secheigth1 : 100vh;
    --secwidth : 100vw;
    --gradient : linear-gradient(to right,var(--1stcolor),var(--2ndcolor));
}

/* body styling  */
body{

}

a{
    cursor: pointer; /*not working*/
}

input{
    cursor: pointer;
}

/* header styling  */
header::before{
    content: "";
    background-color: rgba(255, 253, 253, 0.725);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

header{
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid red; */
}

/* logo division of header  */
#logo{
    height: 7vh;
    width: 8vw;
    margin-left: 10vw;
    margin-top: 1vh;
    /* border: 2px solid black; */

}

#logo img{
    height: 100%;
    width: 100%;
}

/* navigetion bar design of header  */
#navigation{
    height: inherit;
    width: 40vw;
    margin-left: 34vw;
    /* border: 2px solid black; */
    font-weight: bold;
}

#navigation nav{
    margin-top: 2.5vh;
}

#navigation nav a{
    text-decoration: none;
    font-size: 2.8vh;
    margin-left: 2.5vw;
    color: black;
}

/* login botton design of header  */
#hbutton{
    height: inherit;
    width: 10vw;
    /* border: 2px solid black; */
    margin-left: 7vw;
    margin-right: 5vw;
}

#hbutton input{
    cursor: pointer;
    height: 5.5vh;
    width: 8vw;
    margin: 2vh 3vh;
    border: none;
    border-radius: 13px;
    font-size: 2.2vh;
    /* background-color: var(--1stcolor); */
    /* background-image: linear-gradient(to right,var(--1stcolor),var(--2ndcolor)); */
    /* background-image: var(--gradient); */
    background-color: var(--2ndcolor);
    color: white;
    font-weight: bold;
}

/* main tag styling  */
/* section 1 styling  */
#sec1::before{
    content: "";
    background: url("/images/Untitled\ design\ \(5\).png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(5px); */
    position: absolute;
    z-index: -2;
}

#sec1{
    display: flex;
    flex-direction: column;
    height: var(--secheigth1);
    width: var(--secwidth);
    /* border: 2px solid red; */
    position: relative;
}

#sec1 div:first-child{
    margin-top: 20vh;
}

/* headline of section 1 */
#s1d1{
    margin-top: 5vh;
    width: 33vw;
    font-size: 2.7rem;
}

/* paragraph of section 1 */
#s1d2{
    /* border: 2px solid red; */
    width: 30vw;
    font-size: 1.4rem;
}


/* section 1 buttons  */
#s1d3 input{
    /* margin-left: 5vw; */
    padding: 0.6rem;
    margin-right: 5vw;
    border-radius: 13px;
    font-size: 1.1rem;
    /* background-image: var(--gradient); */
    /* color: white; */
    border-color: white;
}

/*btns*/
.s1btns{
    border: 10px solid red;
}

#inf-btn{
    /* background-color: var(--1stcolor); */
    background-color: white;
    color: black;
    font-weight: bold;
}
#brand-btn{
    background-color: var(--2ndcolor);
    font-weight: bold;
    color: white;
    width: 8vw;
    border: 2px solid red;
}

/* classes regarding section 1 */
.s1margleft{
    margin-left: 5vw;
}

.s1margtop{
    margin-top: 5vh;
}


/* utility classes  */
