/* css reset  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: rokkitt;
}

/* css roots  */
:root{
    --1stcolor : rgba(255, 68, 0, 0.725);
    --2ndcolor : #342EAD;
    --secheigth1 : 100vh;
    --secwidth : 100vw;
    --gradient : linear-gradient(to right,var(--1stcolor),var(--2ndcolor));
}

/* body styling  */



/* header styling  */
header{
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 253, 253, 0.725);
    backdrop-filter: blur(5px);
    /* border: 2px solid red; */
}

/* logo division of header  */
#logo{
    height: 7vh;
    width: 14vw;
    margin-left: 10vw;
    margin-top: 1vh;
    padding-left: 3vw;
    /* border: 2px solid black; */

}

#logo img{
    height: 100%;
    width: 100%;
}

/* navigetion bar design of header  */
#navigation{
    height: inherit;
    width: 40vw;
    margin-left: 25vw;
    /* border: 2px solid black; */
    font-weight: bold;
    z-index: 2;
}

#navigation nav{
    margin-top: 2.8vh;
}

#navigation nav a{
    text-decoration: none;
    font-size: 2.8vh;
    margin-left: 2vw;
    color: black;
    padding: 0.5vw;
}

#navigation nav a:hover{
    cursor: pointer;
    color: var(--2ndcolor);
    transition: all 1s ease-out;
    background-color: var(--1stcolor);
    border-radius: 18px;
}

/* login botton design of header  */
#hbutton{
    height: inherit;
    width: 10vw;
    margin-left: 7vw;
    margin-right: 5vw;
}

#hbutton input{
    cursor: pointer;
    height: 5.5vh;
    width: 8vw;
    margin: 2vh 3vh;
    border: none;
    border-radius: 13px;
    font-size: 2.2vh;
    background-color: var(--2ndcolor);
    color: white;
    font-weight: bold;
}
/* header styling end  */

/* main tag styling  starts */

/* section 1 styling  starts*/
#sec1::before{
    content: "";
    background: url("/images/Untitled\ design\ \(5\).png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}

#sec1{
    display: flex;
    flex-direction: column;
    height: var(--secheigth1);
    width: var(--secwidth);
    position: relative;
}

#sec1 div:first-child{
    margin-top: 20vh;
}

/* headline of section 1 */
#s1d1{
    margin-top: 5vh;
    width: 33vw;
    font-size: 2.7rem;
    /* font-weight: bolder; */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-shadow: 7px 7px 5px grey;
}

/* paragraph of section 1 */
#s1d2{
    width: 30vw;
    font-size: 1.4rem;
}


/* section 1 buttons  */
#s1d3 input{
    padding: 0.6rem;
    margin-right: 5vw;
    border-radius: 13px;
    font-size: 1.1rem;
    border-color: white;
}

/*btns*/
.s1btns{
    border: 10px solid red;
    cursor: pointer;
}

#inf-btn{
    border: 2px solid grey;
    padding: 0.8vw;
    color: white;
    background-color: var(--1stcolor);
    font-weight: bold;
}
#inf-btn:hover{
    border: 3px solid black;
    color: white;
    transform: scale(1.1);
}
#brand-btn:hover{
    border: 3px solid black;
    color: white;
    transform: scale(1.1);
}

#brand-btn{
    background-color: var(--2ndcolor);
    border: 3px solid black;
    font-weight: bold;
    color: white;
    width: 8vw;
    border: 2px solid red;
}

/* classes regarding section 1 */
.s1margleft{
    margin-left: 5vw;
}

.s1margtop{
    margin-top: 5vh;
}
/* section 1 ends  */

/* section 2 starts  */
#sec2 {
    padding-top: 14vh;
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 244, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main heading of the section 2 */
#s2d1{
    height: 20vh;
    width: 50vw;
    /* border: 2px solid grey; */
    font-size: 10vh;
    text-align: center;
    padding-top: 2.5vh;
   margin-bottom: 2vh;
    font-weight: bolder;
    color: black;
}


/* cads of section 2  */
#s2d2{
    height: 60vh;
    width: 90vw;
    /* border: 2px solid grey; */
    display: flex;
    padding-left: 4vw;

}

#s2d2 div{
    height: 80%;
    width: 25%;
    border: 1px solid grey;
    margin-top: 6vh;
    margin-left: 0vw;
    background-color: aquamarine;
    border-radius: 7px;
    /* position: absolute; */
}

#s2d2 div:hover{
   background-color: whitesmoke;
   box-shadow: -7px 7px 50px rgb(161, 112, 94),-7px 7px 20px #817ebc, 7px -7px 20px rgb(161, 112, 94), 7px -7px 50px #817ebc;
   position: relative;
   z-index: 5;
}

nk{
    background-color: var(--1stcolor);
    border-radius: 15px;
    color: white;
    /* text-shadow:5px 5px 4px orangered, 10px 2px 4px #342EAD; */
}
/* section 2 styling ends  */

/* section 3 styling starts  */
#sec3{
    height: 100vh;
    width: 100vw;
}
/* section 3 styling ends here  */

/* section 4 styling starts here  */
#sec4 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 244, 245);
    border: 2px solid transparent;
}

#container{
    background-color: whitesmoke;
    width: 55vw;
    height: 85vh;
    border: 2px solid grey;
    border-radius: 8px;
    margin:14vh  auto;
}

#s4d1 {
    height: 8vh;
    width: 30vh;
    margin: auto;
    padding-top: 1.5vh;
    font-size: 3vh;
    margin-bottom: 0vh;
    color: rgba(255, 68, 0, 0.725);
    /* border: 2px solid red; */
}

#s4d2 {
    /* border: 2px solid grey; */
    height: 70vh;
    padding-left: 10vw;
    padding-top: 2vh;
}

#s4d2 div{
    margin: 1vh;
}

#s4d2 input{
    width: 80%;
    padding: 1vh;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: white;
}

#s4d2d1 input{
    display: inline-block;
    width: 40%;
}

textarea{
    width: 80%;
    border-radius: 8px;
    padding: 1vh;
}
#s4d2d6 input:first-child{
    margin-bottom: 1vh;
    
}

#s4d2d6 input{
    color: rgba(255, 68, 0, 0.725);
    font-weight: bold;
    cursor: pointer;
}

#s4d2d6 input:hover{
   color: white;
   background-color:  rgba(255, 68, 0, 0.725);
   transition:all 1s ease-out;
}

/*section -3 css : */

#s3{
    width: 100vw;
    height: 75vh;
    background-color: lightgray;
    display: flex;
}
.textarea{
    width: 55vw;
    margin: auto;
    font-size: 1.3rem;
}
.wheel{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    font-weight: bold;
    float: right;
    background-color: grey;
    border: 2px solid white;
}
.im, .smm, .cm, .seo, .sac{
    display: none;
}
.chakra{
    width: 30vw;
    padding-right: 10vw;
    margin: auto;
}
#sac{
    position: relative;
    left: 3px;
    top: 79px;
    text-align: center;
    z-index: 2;
    transform: rotate(35deg);
    width: 150px;
    height: 80px;
    /* padding-top: 20px; */
    border-radius: 200px;
    background-color: grey;
    border: 2px solid white;
}
#sac:hover{
    background-color: blue;
    color: white;
}
#smm{
    position: relative;
    top: -143px;
    left: 142px;
    width: 150px;
    height: 80px;
    text-align: center;
    transform: rotate(325deg);
    z-index: 5;
    border-radius: 200px;
    background-color: grey;
    border: 2px solid white;
}
#smm:hover{
    background-color: red;
    color: white;
}
#im{
    position: relative;
    top: -82px;
    text-align: center;
    border-radius: 200px;
    left:110px;
    width: 80px;
    height: 140px;
    /* transform: rotate(45deg); */
    background-color: grey;
    border: 2px solid white;
    z-index: 1;
}
#im:hover{
    background-color: purple;
    color:white;
}
#cm{
    position: relative;
    top: -157px;
    text-align: center;
    width: 80px;
    border-radius: 200px;
    height: 140px;
    /* padding-top: 20px; */
    left:64px;
    transform: rotate(38deg);
    z-index: 3;
    background-color: grey;
    border: 2px solid white;
}
#cm:hover{
    background-color: green;
    color: white;
}
#seo{
    position: relative;
    top:-272px;
    border-radius: 200px;
    left:131px;
    width: 140px;
    height: 80px;
    z-index: 5;
    text-align: center;
    transform: rotate(46deg);
    background-color: grey;
    border: 2px solid white;
    
}
#seo:hover{
    background-color: teal;
    color: white;
}
#innerwheel{
    position: relative;
    top: -404px;
    left: 124px;
    z-index: 7;
    width: 50px;
    height:50px;
    border-radius: 200px;
    background-color: grey;
    border: 2px solid white;
}
.temp h2{
    font-size: 2.6rem;
    margin: 2vh;
}
.temp p{
    margin-bottom: 2vh;
}
.p{
    margin-bottom: 2vh;
}

/* utility classes  */
