/* css reset  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: rokkitt;
}

/* css roots  */
:root{
    --1stcolor : rgba(255, 68, 0, 0.725);
    --2ndcolor : #342EAD;
    --secheigth1 : 100vh;
    --secwidth : 100vw;
    --gradient : linear-gradient(to right,var(--1stcolor),var(--2ndcolor));
}

/* body styling  */



/* header styling  */
header{
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 253, 253, 0.725);
    backdrop-filter: blur(5px);
    /* border: 2px solid red; */
}

/* logo division of header  */
#logo{
    height: 7vh;
    width: 14vw;
    margin-left: 10vw;
    margin-top: 1vh;
    padding-left: 3vw;
    /* border: 2px solid black; */

}

#logo img{
    height: 100%;
    width: 100%;
}

/* navigetion bar design of header  */
#navigation{
    height: inherit;
    width: 40vw;
    margin-left: 25vw;
    /* border: 2px solid black; */
    font-weight: bold;
    z-index: 2;
}

#navigation nav{
    margin-top: 2.8vh;
}

#navigation nav a{
    text-decoration: none;
    font-size: 2.8vh;
    margin-left: 2vw;
    color: black;
    padding: 0.5vw;
}

#navigation nav a:hover{
    cursor: pointer;
    color: var(--2ndcolor);
    transition: all 1s ease-out;
    background-color: var(--1stcolor);
    border-radius: 18px;
}

/* login botton design of header  */
#hbutton{
    height: inherit;
    width: 10vw;
    margin-left: 7vw;
    margin-right: 5vw;
}

#hbutton input{
    cursor: pointer;
    height: 5.5vh;
    width: 8vw;
    margin: 2vh 3vh;
    border: none;
    border-radius: 13px;
    font-size: 2.2vh;
    background-color: var(--2ndcolor);
    color: white;
    font-weight: bold;
}
/* header styling end  */

/* main tag styling  starts */

/* section 1 styling  starts*/
#sec1::before{
    content: "";
    background: url("/images/Untitled\ design\ \(5\).png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}

#sec1{
    display: flex;
    flex-direction: column;
    height: var(--secheigth1);
    width: var(--secwidth);
    position: relative;
}

#sec1 div:first-child{
    margin-top: 20vh;
}

/* headline of section 1 */
#s1d1{
    margin-top: 5vh;
    width: 33vw;
    font-size: 2.7rem;
    /* font-weight: bolder; */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-shadow: 7px 7px 5px var(--1stcolor), 10px 10px 7px var(--2ndcolor);
}

/* paragraph of section 1 */
#s1d2{
    width: 30vw;
    font-size: 1.4rem;
}


/* section 1 buttons  */
#s1d3 input{
    padding: 0.6rem;
    margin-right: 5vw;
    border-radius: 13px;
    font-size: 1.1rem;
    border-color: white;
}

/*btns*/
.s1btns{
    border: 10px solid red;
    cursor: pointer;
}

#inf-btn{
    border: 2px solid grey;
    padding: 0.8vw;
    color: white;
    background-color: var(--1stcolor);
    font-weight: bold;
}
#inf-btn:hover{
    border: 3px solid black;
    color: white;
    transform: scale(1.1);
}
#brand-btn:hover{
    border: 3px solid black;
    color: white;
    transform: scale(1.1);
}

#brand-btn{
    background-color: var(--2ndcolor);
    border: 3px solid black;
    font-weight: bold;
    color: white;
    width: 8vw;
    border: 2px solid red;
}

/* classes regarding section 1 */
.s1margleft{
    margin-left: 5vw;
}

.s1margtop{
    margin-top: 5vh;
}
/* section 1 ends  */

/* section 2 starts  */
#sec2 {
    padding-top: 14vh;
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 244, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main heading of the section 2 */
#s2d1{
    height: 20vh;
    width: 50vw;
    /* border: 2px solid grey; */
    font-size: 10vh;
    text-align: center;
    padding-top: 2.5vh;
   margin-bottom: 2vh;
    font-weight: bolder;
}


/* cads of section 2  */
#s2d2{
    height: 60vh;
    width: 90vw;
    /* border: 2px solid grey; */
    display: flex;
    padding-left: 4vw;

}

#s2d2 div{
    height: 80%;
    width: 25%;
    /* border: 2px solid red; */
    margin-top: 6vh;
    margin-left: 0vw;
    background-color: aquamarine;
    border-radius: 7px;
    /* position: absolute; */
}

#s2d2 div:hover{
   background-color: whitesmoke;
   box-shadow: -7px 7px 50px rgb(161, 112, 94),-7px 7px 20px #817ebc, 7px -7px 20px rgb(161, 112, 94), 7px -7px 50px #817ebc;
   position: relative;
   z-index: 5;
}

nk{
    background-color: var(--1stcolor);
    border-radius: 15px;
    /* text-shadow:5px 5px 4px orangered, 10px 2px 4px #342EAD; */
}


/* utility classes  */
